/*Impartirea ecranului*/

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}







/*  stilizarea body */



body,html{
	height:1200px;
	background-color:#f2f2f2;
	margin:0px;
}
/*PArlax*/
.paralax{
	background-image:url('../poze/Background.jpg');
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:454px;
	right:100%;
	
	
}
/*Meniu*/
.meniu ul li{
float:left;


list-style:none;
text-transform:uppercase;
background-color:white;
font-family:Krona One;
border-right:1px dashed grey;

}
@media only screen and (min-width : 1025px) and (max-width: 1100px) {

	.meniu ul li{
		padding:20px 3px;
	}
}
@media only screen and (min-width : 1101px) and (max-width: 1200px) {

	.meniu ul li{
		padding:20px 8px;
	}
}
@media only screen and (min-width : 1201px) and (max-width: 1300px) {

	.meniu ul li{
		padding:20px 15px;
	}
}
@media only screen and (min-width : 1301px) and (max-width: 1400px)  {

	.meniu ul li{
		padding:20px 22px;
	}
}
@media only screen and (min-width : 1401px)   {

	.meniu ul li{
		padding:20px 29px;
	}
}

.meniu ul{
	padding:0px;
}

.meniu ul :last-child{
	border-right:none;
}
/*  stilizarea link-uri meniu */

.meniu ul li a:link,.meniu ul li a:visited{
	color:gray;
	text-decoration:none;
	
}

.meniu ul li a :hover{
	color:orange;
}
.meniu ul li:hover{
	border-bottom:2px solid orange;
	color:orange;
}
/*
.meniu:hover{
	border-bottom:2px solid orange;
	color:orange;
}*/

.meniu {
	height: 60px;
    background-color: white;
}

/*  stilizarea  card*/
.card{
	background-color:white;
	margin-left:15%;
	text-align:center;
}

.card h1{
	.text-transform:uppercase;
	font-family:Krona One;
}
/*  stilizarea elemente social media */
.socilaMedia{
	padding:15px;
	border-top: 1px dotted black;
    font-size: 20px
}

.fa-facebook ,.fa-instagram,.fa-linkedin,.fa-envelope{
	padding:10px 13px 10px 13px;
	border-radius:50px;
	border:1px solid black;
	color:black;
}

.socilaMedia .fa-facebook:hover{
	color:white;
	background-color:#4267b2;
}

.socilaMedia .fas:hover{
	color:white;
	background-color:rgb(52,175,217);
}

.socilaMedia .fa-instagram:hover{
	color:white;
	background: linear-gradient(to bottom right, #f14c47, #ce2e83);
}

.socilaMedia .fa-linkedin:hover{
	color:white;
	background-color:#007bb6;
}

/*  stilizarea imagine*/
.imagine img{
	width: 100%;
    height: auto;
}



/*Container*/

.container1{
	position:absolute;
	top:66px;
	
}
@media only screen and (min-width : 1025px) and (max-width: 1100px) {
	.container1{
		left:300px;
	}
}
@media only screen and (min-width : 1101px) and (max-width: 1200px) {
	.container1{
		left:350px;
	}
}
@media only screen and (min-width : 1201px) and (max-width: 1300px) {
	.container1{
		left:400px;
	}
}
@media only screen and (min-width : 1301px) and (max-width: 1400px) {
	.container1{
		left:450px;
	}
}
@media only screen and (min-width : 1401px)   {
	.container1{
		left:27%;
	}
}


.cotainer2{
	position:absolute;
	top:82px;
	
}
@media only screen and (min-width : 1025px) and (max-width: 1100px) {
	.container2{
		left:0px;
	}
}
@media only screen and (min-width : 1101px) and (max-width: 1200px) {
	.container2{
		left:40px;
	}
}
@media only screen and (min-width : 1101px) and (max-width: 1200px) {
	.container2{
		left:50px;
	}
}



.scris{
	background-color:white;
	height:970px;
	position:absolute;
    top: 117px;
}
/*  stilizarea umbra elemente */
.umbra{
	
	box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.3),0px 6px 30px 0 rgba(0, 0, 0, 0.19);
	
}

.suntAici{
	border-bottom:2px solid orange;
}
/*  stilizarea subtitlu */
.subtitlu{
	border-bottom:1px dotted black;
	padding:20px;
	text-align:left;
	font-family:Krona One;
}

.subtitlu2{
	padding:20px;
	text-align:left;
	font-family:Krona One;
	margin-left:10px;
}
/*  stilizarea descrieri */

@media only screen and (min-width : 1025px) and (max-width: 1100px) {
	.descrieri{
	width: 48%;
    padding: 5px 5px;
    float: left;
    font-family: Krona One;
    font-size: 12px;
	}
}
@media only screen and (min-width : 1101px) and (max-width: 1200px) {
	.descrieri{
	width: 48%;
    padding: 5px 6px;
    float: left;
    font-family: Krona One;
    font-size: 13px;
	}
}
@media only screen and (min-width : 1201px) and (max-width: 1300px) {
	.descrieri{
	width: 48%;
    padding: 5px 6px;
    float: left;
    font-family: Krona One;
    font-size: 14px;
	}
}
@media only screen and (min-width : 1301px) and (max-width: 1400px) {
	.descrieri{
	width: 48%;
    padding: 5px 7px;
    float: left;
    font-family: Krona One;
    font-size: 15px;
	}
}
@media only screen and (min-width : 1401px)  {
	.descrieri{
	width: 48%;
    padding: 5px 6px;
    float: left;
    font-family: Krona One;
    font-size: 16px;
	}
	
	.containar-paragraf{
		height:220px;
	}
}

@media only screen and (min-width : 1025px)  and (max-width :1400px){
	.containar-paragraf{
		height:200px;
	}
}
	
.containar-paragraf{
	
   
    border-bottom: 1px dotted black;
}

.containar-ceva{
	height:200px;
}
/*  stilizarea bari procente */
.containar-abilitati{
	height:220px;
	background:#f2f2f2;
}
@media only screen and (min-width : 1025px)  and (max-width :1125px){

	.containar-abilitate{
		padding:14px;
		font-size:21px;
		float:left;
		width:45%;
		
	}
}
@media only screen and (min-width : 1126px)  and (max-width :1225px){

	.containar-abilitate{
		padding:15px;
		font-size:23px;
		float:left;
		width:45%;
		
	}
}
@media only screen and (min-width : 1225px)  {

	.containar-abilitate{
		padding:15px;
		font-size:15px;
		float:left;
		width:45%;
		font-family:Krona One;
	}
}
.border-procent{
	border: 1px solid #243c4f;
    border-radius: 10px;
    height: 6px;
    width: 80%;
}

.procent{
	height: 100%;
    background: orange;
}
/*  valorile barilor de procente */
.H{
	width:90%;
}

.CSS{
	width:80%;
}

.C{
	width:70%;
}

.CPP{
	width:50%;
}

.JS{
	width:20%;
}

.J{
	width:40%;
}


/*subsol*/
footer div{
text-align:center;
 margin-top:70px;
 opacity: 0.7;
}

.containar-ceva p{
	width:90%;
	font-family:Arial, Helvetica, sans-serif;
	margin-left:5%;
	padding:10px;
	line-height: 1.5;
}
/*Autentificare*/

.containerA{
	position: absolute;
    top: 0px;
    right: 6px;
    width: 1000px;
    height: 50px;
}

.LogoAutentificare{
	position: absolute;
    right: 22px;
}


.LogoAutentificare i{
	font-size:50px;
	color:white;
}
#apare{
	width: 0px;
    height: 50px;
    position: absolute;
    right: 97px;
    overflow:hidden;
	background-color:white;
	opacity:0.9;
}

.autentificare{
	position: absolute;
    left: 0px;
    height: 50px;
    width: 623px;
   
}

.autentificare section{
	float:left;
	padding:10px;
}

@keyframes afisare {
    0% {width: 0px;}
    100% {width: 610px;}
}

@keyframes afisareInvers {
    0% {width: 610px;}
    100% {width: 0px;}
}

#poz{
	position:relative;
}

#ochi{
	color: grey;
    position: absolute;
    top: 13px;
    right: 16px;
	cursor:pointer;
}

.autentificare section input{
	border-radius: 7px;
    padding: 2px;
    border: 1px solid black;
}





