/*container carusel*/
.container{
	position:relative;
	left:0px;
}

/*container imagine*/
.containerImagine{
	position:absolute;
	left:300px;
	border: 1px solid black;
}
/*buton next*/
#buton1{
	position:absolute;
	top:150px;
	left:150px;
}

/*buton prev*/
#buton2{
	position:absolute;
	top:150px;
	left:700px;
}
/*stilizare butoane*/
.container input{
	background-color: white;
    border-radius: 50px;
    height: 50px;
    padding: 6px;
    border: 2px solid black;
	
}

.container input:hover{
	background-color:orange;
}
.containerImagine div{
	
	transition: opacity 1s;
	height: 300px;
    width: 300px;
}
/*stilizare imagini*/
.containerImagine img{
	position:absolute;
	left:0px;
	top:0px;
}

/*bara de progres*/
p{
	position:absolute;
	top:260px;
	left:0px;
	color:white;
	font-size:20px;
	z-index:2;
}

#altaCuloare{
	color:black;
}
