/*container autentificare*/

.container{
	position: relative;
    width: 360px;
    height: 250px;
    margin: auto;
    margin-top: 300px;
    background-color: #ffffcc;
	
}

/*stilizare input-uri*/
input{
	
width: 80%;
margin-bottom: 20px;
border-radius: 4px;
border: 0px;
padding: 5px;
}

label{
	width:80%;
	
	font-size:20px;
}
/*stilizare formular*/

form{
	width:90%;
	margin:auto;
}
/*stilizare butoane*/
#buton2{
	width:40%;
	cursor:pointer;
	
}

#buton2:hover{
	height:28px;
	
}
/*stilizare subtitlu*/
 p{
	font-size:20px;
	padding:10px;
}
/*stilizare container 2*/
.container2{
	width: 83%;
    background-color: white;
    height: 28px;
    margin-bottom: 25px;
    border-radius: 4px;
	position:relative;
}
/*stilizare buton de afisare a parolei*/
#ochi{
	color:grey;
	color: grey;
    position: absolute;
    top: 4px;
    right: 8px;
}

#ochi:hover{
	cursor:pointer;
	color:black;
}