[class*="col-"]  {
	width:100%;
}

body,html{
	height:1200px;
	background-color:#f2f2f2;
	margin:0px;
}
/*PArlax*/
.paralax{
	background-image:url('../poze/Background.jpg');
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:46%;
	right:100%;
}








/*Meniu*/
.meniu ul li{
        /* float: left; */
    padding: 20px 37px;
    list-style: none;
    text-transform: uppercase;
    background-color: white;
    font-family: Krona One;
    /* border-right: 1px dashed grey; */
}
.meniu ul{
	padding:0px;
}

.meniu ul :last-child{
	border-right:none;
}
/*  stilizarea link-uri meniu */

.meniu ul li a:link,.meniu ul li a:visited{
	color:gray;
	text-decoration:none;
	
}

.meniu ul li a :hover{
	color:orange;
}
.meniu ul li:hover{
	border-bottom:2px solid orange;
	color:orange;
}
/*
.meniu:hover{
	border-bottom:2px solid orange;
	color:orange;
}*/

.meniu {
	 height: 60px;
    background-color: white;
    position: absolute;
    left: 5%;
    top: 40px;
    /* width: 78%; */
    width: 90%;
    z-index: 1;
}
.suntAici{
	border-bottom:2px solid orange;
}




.containerA{
	position: absolute;
    top: 0px;
    right: 0px;
    width: 1000px;
    height: 50px;
	z-index:2;
}

.LogoAutentificare{
	position: absolute;
    right: 4px;
}


.LogoAutentificare i{
	font-size:50px;
	color:white;
}
#apare{
	width: 0px;
    height: 163px;
    position: absolute;
    right: 6%;
    overflow: hidden;
    background-color:orange;
    opacity: 0.7;
}

.autentificare{
	
    height: 50px;
    width: 100%;
   
}

.autentificare section{
	float:left;
	padding:10px;
}

@keyframes afisare {
    0% {width: 0px;}
    100% {width: 18%;}
}

@keyframes afisareInvers {
    0% {width: 18%;}
    100% {width: 0px;}
}

#poz{
	position:relative;
}

#ochi{
	color: grey;
    position: absolute;
    top: 32px;
    right: 16px;
	cursor:pointer;
}

.autentificare section input{
	border-radius: 7px;
    padding: 2px;
    border: 1px solid black;
}

.umbra{
	
	box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.3),0px 6px 30px 0 rgba(0, 0, 0, 0.19);
	
}


.container1{
	position: relative;
    top: -45%;
}
.cotainer2{
	position: relative;
    top: -15%;
    left: 0px;
}

.scris{
	    background-color: white;
    height: 1286px;
    position: absolute;
    top: 1080px;
    width: 90%;
    left: 5%;
margin-bottom: 7%;}




/*  stilizarea  card*/
.card{
	 background-color: white;
    /* margin-left: 10%; */
    text-align: center;
    position: absolute;
    top: 3px;
    left: 5%;
    width: 90%;
}

.card h1{
	.text-transform:uppercase;
	font-family:Krona One;
}
/*  stilizarea elemente social media */
.socilaMedia{
	padding:15px;
	border-top: 1px dotted black;
    font-size: 20px
}

.fa-facebook ,.fa-instagram,.fa-linkedin,.fa-envelope{
	padding:10px 13px 10px 13px;
	border-radius:50px;
	border:1px solid black;
	color:black;
}

.socilaMedia .fa-facebook:hover{
	color:white;
	background-color:#4267b2;
}

.socilaMedia .fas:hover{
	color:white;
	background-color:rgb(52,175,217);
}

.socilaMedia .fa-instagram:hover{
	color:white;
	background: linear-gradient(to bottom right, #f14c47, #ce2e83);
}

.socilaMedia .fa-linkedin:hover{
	color:white;
	background-color:#007bb6;
}

/*  stilizarea imagine*/
.imagine img{
	width: 100%;
    height: auto;
}





.subtitlu{
	border-bottom:1px dotted black;
	padding:20px;
	text-align:left;
	font-family:Krona One;
}

.subtitlu2{
	padding:20px;
	text-align:left;
	font-family:Krona One;
	margin-left:10px;
}
/*  stilizarea descrieri */
.descrieri{
	width: 70%;
    padding: 5px 40px;
    float: left;
    font-family: Krona One;
    font-size: 12px;
}

.containar-paragraf{
	
    height: 24%;
    border-bottom: 1px dotted black;
}

.containar-ceva{
	height:14%;
}
/*  stilizarea bari procente */
.containar-abilitati{
	height:32%;
	background:#f2f2f2;
}
.containar-abilitate{
	padding:20px;
	font-family:Krona One;
	float:left;
	width:90%;
}
.containar-ceva p{
	width:90%;
	font-family:Arial, Helvetica, sans-serif;
	margin-left:5%;
	padding:10px;
	line-height: 1.5;
}

.border-procent{
	border: 1px solid #243c4f;
    border-radius: 10px;
    height: 6px;
    width: 80%;
}

.procent{
	height: 100%;
    background: orange;
}
/*  valorile barilor de procente */
.H{
	width:90%;
}

.CSS{
	width:80%;
}

.C{
	width:70%;
}

.CPP{
	width:50%;
}

.JS{
	width:20%;
}

.J{
	width:40%;
}


footer div{
text-align:center;
 margin-top:70px;
 opacity: 0.7;
}





