body{
	
    margin: 0px;
}
.navbar{
	z-index:4;
}

#pozitieSticky{
	position:sticky;
	top:0px;
	border-color: #080808;
	
}

#img{
	padding:5px 0px;
}

#myNavbar ul{
	float:right;
}

.descrieri{
	position:absolute;
	
}
.row{
	margin:0px;
}

@media (min-width:768px){
	.row{
	transition: all 0.5s ease-in-out;
	background-image: url(../imagini/photo10.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
    top: 100vh;
	z-index:3;
	}
	.img{
		position: relative;
		left: 8%;
}

	.col-sm-4{
		position: relative;
		color: white;
		margin: 5%;
		float: left;
		transition: all 0.5s ease-in-out;
		transition-delay:0.5s;
	}
	
	.titlu{
	background-color: #74D0F1;
    height: 100vh;
    position: absolute;
    width: 34%;
    right: 0;
    top: 0px;
	z-index:2;
	}
	
	.titlu h2{
	position: absolute;
    top: 405px;
    left:-158px;
    font-size: 109px;
	}
	.titlu h2 .albastru{
		color: #74D0F1;
    border-bottom: 12px solid;
    margin-left: 31px;
	}
	.titlu h2 .alb{
		color: white;
    border-bottom: 12px solid;
    margin-left: -31px;
	}
	
	#continut1{
		top:500px;
		left:0%;
		opacity:0.1;
	}
	

	
	#continut2{
		top:310px;
		left:15%;
		opacity:0.1;
		
	}
	
	#continut3{
		top:300px;
		left:10%;
		opacity:0.1;
	}
	
	#continut4{
		top:136px;
		left:0%;
		opacity:0.1;
	}
	
	#continut5{
		top:300px;
		left:13%;
		opacity:0.1;
	}
	
	#continut6{
		top:125px;
		left:0%;
		opacity:0.1;
	}
	
	#continut7{
		top:300px;
		left:13%;
		opacity:0.1;
	}
	
	#continut8{
		top:236px;
		left:-41%;
		opacity:0.1;
		margin-bottom:450px;
	}


}





.img img{
	width:100%;
}
@media (min-width:1000px){
	#img2{
		width:36%;
		height:0px;
	}
}
@media(min-width:768px)  and (max-width:999px){
	#img2{
		width:50%;
		height:0px;
	}
}


@media(max-width:400px){
	.titlu{
		text-align: center;
		margin-bottom: 30%;
	}
	
	.titlu .alb{
		margin-left: -8px;
	}
	
	.img{
		width:100%;
	}
	
}


@media (min-width:401px) and (max-width:767px)
{
	.titlu{
		text-align: center;
		margin-bottom: 20%;
	}
	
	.titlu .alb{
		margin-left: -8px;
	}
	
	.img{
		width:80%;
		margin-left:10%;
	}
	
}



.row p{
	text-align:justify;
	font-size:21px;
}
.row h2{
	background: linear-gradient(to left, #74D0F1, #74D0F1);
    padding: 10px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    color: white;
}

@media (max-width:900px){
	.row h2{
		font-size:24px;
	}
	.row p{
		font-size:17px;
	}
	
}

.socilaMedia{
	font-size:30px;
	padding:10px;
}

.socilaMedia a{
	padding: 0px 3px;
}

.fa-facebook ,.fa-instagram,.fa-linkedin,.fa-twitter{
	padding:10px 13px 10px 13px;
	border-radius:50px;
	border:1px solid black;
	color:black;
}

.socilaMedia .fa-facebook:hover{
	color:white;
	background-color:#4267b2;
}

.socilaMedia .fa-twitter:hover{
	color:white;
	background-color:rgb(52,175,217);
}

.socilaMedia .fa-instagram:hover{
	color:white;
	background: linear-gradient(to bottom right, #f14c47, #ce2e83);
}

.socilaMedia .fa-linkedin:hover{
	color:white;
	background-color:#007bb6;
}
  
  .footer{
	position:relative;
	top:61%;
	color:white;
	background-color:#206276;
}