body{
	padding:0px;
    margin: 0px;
	    background: #E9E9E9;
}

.navbar{
	z-index:4;
}

#pozitieSticky{
	position:sticky;
	top:0px;
	border-color: #080808;
}

#img{
	padding:5px 0px;
}

#myNavbar ul{
	float:right;
}

.progress-container{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:3px;
	z-index:5;
}

.progress-bar{
	height:3px;
	width:0%;
	background-color:orange;
}






.timeline{
	position:relative;
	margin : 50px auto;
	padding: 40px 0;
	width:1000px;
	box-sizing:border-box;
}
.timeline:before{
	content:'';
	position:absolute;
	left:50%;
	top:30px;
	width:2px;
	height:100%;
	background-color:#74D0F1;
	box-shadow: 10px 10px 7px #aaaaaa;
}

.timeline ul{
	position:relative;
	top:40px;
	margin:0;
	padding:0;
}
 .timeline ul li {
	 list-style:none;
	 line-height:normal;
	 position:relative;
	 width:50%;
	 padding:20px 40px;
	 box-sizing:border-box;
 }

.timeline ul li:nth-child(odd){
	float:left;
	clear:both;
}

.timeline ul li:nth-child(even){
	float:right;
	text-align:left;
	clear:both;
}
.content{
	padding-bottom:20px;
	border-radius: 5px;
}

.timeline ul li:nth-child(odd):before{
	content:'';
	position:absolute;
	width:10px;
	height:10px;
	background-color:#2C75FF;
	border-radius:50%;
	box-shadow: 10px 10px 7px #aaaaaa;
}

.timeline ul li:nth-child(even):before{
	content:'';
	position:absolute;
	width:10px;
	height:10px;
	background-color:#2C75FF;
	border-radius:50%;
	box-shadow: 10px 10px 7px #aaaaaa;
}
.content{
	    background: white;
    padding: 20px;
    box-shadow: 10px 10px 20px #aaaaaa;
}
.timeline ul li  h2{
	margin:0px;
	padding:0px;
	font-weight:600;
	color: #03224C;
	
}

.timeline ul li p{
	margin: 10px 0 0;
	padding:0;
	
}

.timeline ul li .time h4{
	margin:0;
	padding:0;
}

.timeline ul li:nth-child(odd) .time{
	position: absolute;
    margin: 0;
    padding: 8px 16px;
    background-color: #74D0F1;
    color: white;
    border-radius: 18px;
    box-shadow: 10px 10px 20px #aaaaaa;
	-webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.timeline ul li:nth-child(even) .time{
	position:absolute;
	margin:0;
	padding:8px 16px;
	background-color:#74D0F1;
	color:white;
	border-radius:18px;
	box-shadow: 10px 10px 20px #aaaaaa;
	-webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

@media (max-width:1000px){
	.timeline{
		width:100%;
	}
	
}

@media (min-width:767px){
	.timeline p{
		font-size:21px;
	}
	
	.timeline ul li:nth-child(even) .time{
		top:12px;
		left:-315px;
	}
	
	.timeline ul li:nth-child(even) .time:hover{
		top:12px;
		left:-215px;
	}
	
	.timeline ul li:nth-child(odd) .time{
		top:12px;
		right:-315px;
		
	}
	
	.timeline ul li:nth-child(even):before{
		top:24px;
		left:-4px;
	}
	.timeline ul li:nth-child(odd):before{
		top:24px;
		right:-6px
	}
	.timeline ul li:nth-child(odd){
		text-align:right;
	}
	
}

@media (max-width:767px){
	
	.timeline h2{
		font-size:24px;
	}
	
	.timeline{
		width:100%;
	}
	
	.timeline:before{
		left:20px;
		top:0%;
	}
	.timeline li:nth-child(even),
	.timeline li:nth-child(odd){
		width:100%;
		text-align:left;
		padding-left:50px;
		padding-bottom:50px;
	}
	.timeline li:nth-child(odd):before{
		top:-18px;
		left:16px;
	}
	.timeline li:nth-child(even):before{
		top:-18px;
		left:16px;
	}
	.timeline li:nth-child(odd) .time{
		
		top:-30px;
		left:50px;
		right:inherit;
	}
	.timeline li:nth-child(even) .time{
		
		top:-30px;
		left:50px;
		right:inherit;
	}
	
	
	
	
}



.ContainerAni{
	position:relative;
	height:2px;
	background:orange;
	top:40px;
	color:black;
}


@media (min-width:310px){

	.ContainerAni a:nth-child(1) div{
		left:0%;
	}
	.ContainerAni a:nth-child(2) div{
		left:21%;
	}

	.ContainerAni a:nth-child(3) div{
		left:46%;
	}

	.ContainerAni a:nth-child(4) div{
		left:71%;
	}
	.ContainerAni a:nth-child(5) div{
			right:0px;
	}
}
@media (max-width:310px){

	.ContainerAni a:nth-child(1) div{
		left:0%;
	}
	.ContainerAni a:nth-child(2) div{
		left:19%;
	}

	.ContainerAni a:nth-child(3) div{
		left:38%;
	}

	.ContainerAni a:nth-child(4) div{
		left:58%;
	}
	.ContainerAni a:nth-child(5) div{
			right:0px;
	}
}
@media (min-width:767px){
	.an p {
		padding:10px;
	}
	
}

@media (max-width:767px){
	.an p {
		padding:5px;
	}
}

.an{
	background: white;
    float: left;
    border-radius: 50%;
    border: 1px solid orange;
    position: absolute;
    top: -23px;
    color:black;
}

.an:hover{
	background-color:orange;
	color:white;
}


.dispare{
	display:none;
}

p{
	text-align:justify;
}



.socilaMedia{
	font-size:30px;
	padding:10px;
}

.socilaMedia a{
	padding: 0px 3px;
}

.fa-facebook ,.fa-instagram,.fa-linkedin,.fa-twitter{
	padding:10px 13px 10px 13px;
	border-radius:50px;
	border:1px solid black;
	color:black;
}

.socilaMedia .fa-facebook:hover{
	color:white;
	background-color:#4267b2;
}

.socilaMedia .fa-twitter:hover{
	color:white;
	background-color:rgb(52,175,217);
}

.socilaMedia .fa-instagram:hover{
	color:white;
	background: linear-gradient(to bottom right, #f14c47, #ce2e83);
}

.socilaMedia .fa-linkedin:hover{
	color:white;
	background-color:#007bb6;
}
  
  .footer{
	position:relative;
	top:61%;
	color:white;
	background-color:#206276;
}

.time h4{
	width:160px;
	text-align:center;
}



