.plasa{   
 position: absolute;
    top: 0px;
    left: 0px;
    background: #2f4f4f;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    border-radius: 1%;
}

.video{
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video video{
	min-width: 100%;
    min-height: 100%;
	position:absolute;
	top:0px;
	
}

@media (min-width:767px){

	.video video{
		left:0px;
	}
	.titlu h1{
	font-size:45px;
	}
	.descriere p{
		font-size:19px;
	}
	
	.carousel-caption p{
		font-size:20px;
		
	}
}


@media (min-width:580px) and (max-width:766px){
	.video video{
		left:-35%;
	}
	.titlu h3{
	font-size:17px;
}
}
@media (min-width:480px) and (max-width:579px){
	.video video{
		left:-65%;
	}
		.titlu h3{
	font-size:17px;
}
}
@media (min-width:380px) and (max-width:479px){
	.video video{
		left:-96%;
	}
		.titlu h3{
	font-size:17px;
}
}
@media (min-width:300px) and (max-width:379px){
	.video video{
		left:-140%;
	}
		.titlu h3{
	font-size:14px;
}
	.titlu h1{
	font-size:25px;
}
}
@media (max-width:299px){
	.video video{
		left:-210%;
	}
		.titlu h3{
	font-size:14px;
}
	.titlu h1{
	font-size:20px;
}
}

.progress-container{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:3px;
	z-index:5;
}

.progress-bar{
	height:3px;
	width:0%;
	background-color:orange;
}

body{
	
    margin: 0px;
	opacity:0;
	transition-property:opacity;
	transition-duration: 2s;
}
.navbar{
	z-index:4;
}

#pozitieSticky{
	position:sticky;
	top:0%;
	border-color: #080808;
	background:transparent;
}

.titlu{
	position: absolute;
    top: 23%;
    left: 5%;
    width: 42%;
    z-index: 3;
    color: white;
}



.descriere{
	position:relative;
	left:0px;
	right:0px;
}

.descriere h2{
	padding:20px;
	border-bottom:1px solid blue;
}




.paralax{
	color:white;
	position:relative;
	left:0px;
	right:0px;
	overflow:hidden;
	height:450px;
}

#paralax{
	background-image:url("../imagini/photo4.jpg");
	/background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	
	z-index:-1;
}


@media  (min-width:767px) and (min-height:900px){
	#paralax{
		height:400%;
	}
	.paralax{
		top:49%;
	}
	.contact{
		top:52%;
	}
	.footer{
		top:55%;
	}
	.descriere{
		top:43%;
	}
	body{
		height:2600px;
	}
}


@media  (min-width:767px) and (max-height:900px){
	#paralax{
		height:400%;
	}
	.paralax{
		top:42%;
	}
	.contact{
		top:43%;
	}
	.footer{
		top:48%;
	}
	.descriere{
		top:38%;
	}
	body{
		height:2100px;
	}
}


@media  (max-width:767px) and (max-height:900px) {
	#paralax{
		height:500%;
	}
	body{
		height:2500px;
	}
	.paralax{
		top:34%;
	}
	.contact{
		top:37%;
	}
	.footer{
		top:39%;	
	}
	.descriere{
		top:30%;
	}
}

.item{
		height:250px
}
.carousel-inner{
		height:450px;
}
.carousel-caption{
	top:0px;
}
#myCarousel a{
	background-image:none;
}
.carousel-caption i {
	color:orange;
}
	

.contact{
	position:relative;
	
	left:0px;
	right:0px;
	
}

.contact h2{
	padding:20px;
	border-bottom:1px solid blue;
}

.contact button{
	margin:15px;
}

.from-group{
	padding:15px;
}

#img{
	padding:5px 0px;
}

#myNavbar ul{
	float:right;
}


.socilaMedia{
	font-size:30px;
	padding:10px;
}

.socilaMedia a{
	padding: 0px 3px;
}

.fa-facebook ,.fa-instagram,.fa-linkedin,.fa-twitter{
	padding:10px 13px 10px 13px;
	border-radius:50px;
	border:1px solid black;
	color:black;
}

.socilaMedia .fa-facebook:hover{
	color:white;
	background-color:#4267b2;
}

.socilaMedia .fa-twitter:hover{
	color:white;
	background-color:rgb(52,175,217);
}

.socilaMedia .fa-instagram:hover{
	color:white;
	background: linear-gradient(to bottom right, #f14c47, #ce2e83);
}

.socilaMedia .fa-linkedin:hover{
	color:white;
	background-color:#007bb6;
}
  
  .footer{
	position:relative;
	
	color:white;
	background-color:#206276;
}

  
  
.descriere p{
	transition-property:opacity;
	opacity:0;
	
}

textarea {
    resize: none;
}




.fa-times, .fa-check{
	position: absolute;
    right: 21px;
    top: 40%;
    
    opacity: 0.8;
}


.fa-times{

	color: #c30b0b;
}
.fa-check{
	color:green;
}
