.paralax{
	height:500px;
	background-image:url("../poze/Background.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigare{
	background-color: black;
    color: white;
    position: absolute;
    top: 0%;
    left: 0px;
    right: 0px;
}

li{
	
	padding:5px;
}

.navigare a:link{
	color:white;
}

.navigare a:visited{
	color:white;
}

.caseta{
	width: 100%;
    /position: absolute;
    top: 20%;
    left: 8%;
    
}

#faraPadding{
	padding:0px;
}

.imagine{
	width:100%
}

.imagine img {
	width:100%;
}


.descriere{
	width: 100%;
    /position: absolute;
    right: 7%;
    top: 20%;
}

.continut{
	position:absolute;
	top:18%;
	margin:0px;
}

#margini{
	margin-left:0px;
	margin-right:0px;
}